@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    margin: 20px 0px;
}

div#card{
    display: none;
    width: 450px;
    background-color: rgb(248, 247, 242);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid silver;
}

p{
    line-height: 2em;
    font-size: 1.4em;
}

div#imagem img{
    width: 100%;
    align-self: center;
}

div#status{
    display: grid;
    grid-template-columns: auto auto;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
}