@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(182, 182, 182, 0.795);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header, main{
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

main > p > input{
    margin: 10px;
    padding: 5px;
}

main > div#lista-tarefas{
    display: none;
    border-radius: 10px;
    margin: 30px;
}

main > div#lista-tarefas p{
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px 0px;
    width: 100%;
    padding: 20px 0px;
}

mark.badge-true{
    background-color: green;
    border-radius: 10px;
    padding: 5px;
}

mark.badge-false{
    background-color: red;
    border-radius: 10px;
    padding: 5px;
}


footer{
    background-color: white;
    text-align: center;
}

footer > p > a{
    color: black;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}